<tr>
  <td><%= comment.commenter %></td>
  <td><%= comment.body%></td>
  <td>time</td>
  <td><%= link_to 'delete', [comment.post, comment], method: :delete, data: { confirm: "Are you sure?"} %></td>
</tr>

