// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	width       : 230px;
	#border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

td {
	border-right: 1px solid #000000;
}

canvas{
	width: 280px;
	height: 300px;
}


.has_picture {
	width : 10px;
	height: 10px;
}

.post {
	float:left;
	border-top: 1px dotted silver;
	width:800px;
	height: 600px;
	margin:20px 0 0 50px;
}

.post_title {
	float:left;
	border-bottom: 1px solid silver;
	width:250px;
	height: 110px;
}

.post_title1 {
	border-bottom: 0px solid red;
	width:250px;
	height: 40px;
}

.post_title2 {
	border-bottom: 0px solid silver;
	width:250px;
	height: 40px;
}

.post_text {
	float:right;
	border-bottom: 1px solid green;
	border-right: 1px dotted silver;
	width:500px;
	height: 110px;
}

.post_text1 {
	border-bottom: 0px solid red;
	width:500px;
	height: 20px;
}

.post_text2 {
	text-align:left;
	border: 0px solid red;
	width:500px;
	height: 45px;
	padding: 10px 10px 0 0;
}


.tagCloudContainer {
	float:left;
	border:2px solid orange;
	width:280px;
	height:300px;
	margin:20px 0 0 20px;
}

/* 
Post Detail page 
PD means Post Detail
*/

.PD_top {
	border-bottom: 2px solid silver;
}

.PD_body {
	border-bottom:5px double silver;
	height:750px;
	margin: 5px 0 20px 0;
}

.PD_body_left {
	float:left;
	width:25%;
	height:600px;
	margin-left: 5px;
}

.PD_image {
	border: 0px solid silver;
	width: 305px;
}

.PD_tags_icon {
	 float:left;
	 margin-right: 5px;
}

.PD_tags {
	 float:left;
}

.btn.btn-info{
	 padding: 1px 2px 1px 2px;
	 margin: 0 0 10px 4px;
}

.PD_body_right {
	 text-align:left;
	 float:left;
	 width:65%;
	 height:600px;
	 margin:0 0 0 50px;
}

.PD_text {
     height:200px;
	 background-color:#DBDBDB;
	 border:3px groove silver;
	 border-radius:10px;
	 padding:5px 5px 5px 5px;
	 margin:20px 0 0 0;
	 word-break:break-all;
}

.nav.nav-tabs {
    border-bottom:1px solid #E6E6E6;
	padding:0 0 0 0;
	margin:20px 0 0 0;
}

.PD_comments {
	border-left:1px solid #E6E6E6;
    border-bottom:1px solid #E6E6E6;
    border-right:1px solid #E6E6E6;
    padding:5px 30px 5px 30px;
    height:auto;
    word-break:break-all;
}

.red-border {
	border: 1px solid red;
}
