// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	width       : 230px;
	#border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

td {
	border-right: 1px solid #000000;
}

.has_picture {
	width : 10px;
	height: 10px;
}

.tag_mark {
	width : 15px;
	height: 15px; 
}